.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Learn more

  .grid-layout.grid-layout3

    = link_to "/webcast/automate-security-ci/", class: "tile-resource grid-item" do
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
      .tile-info
        %h4.tile-title
          From DevOps to DevSecOps: Automate your security tests with CI
        %p.tile-description
          Join us on July 14 to learn how to secure your CI pipeline using GitLab built-in security features so you can catch potential errors and vulnerabilities in the codebase before they turn into bigger problems.
        %p.tile-link
          Save your spot
          %i.fas.fa-arrow-right

      = link_to "/webcast/rethinking-devops-resiliency/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            Rethinking DevOps for Business Resiliency
          %p.tile-description
            Join CI&T and GitLab in this webcast as we highlight best practices in this new era of making sure the business is resilient.
          %p.tile-link
            Save your spot
            %i.fas.fa-arrow-right

      = link_to "/compare/jenkins-alternative/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            GitLab CI/CD advantages over Jenkins demo
          %p.tile-description
            See the advantages of GitLab built-in CI/CD over Jenkins CI plugin solution.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right
