.vsm-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      = link_to "/analysts/forrester-vsm/", class: "hero-title hero-cta hero-vsm-title" do
        %h1
          Strong Performer In VSM Tools Evaluation
      %p.hero-description
        Forrester Cites GitLab As A Strong Performer In VSM Tools Evaluation
      = link_to "/free-trial/", class: "btn cta-btn accent hero-cta hero-vsm-free-trial" do
        Try GitLab for Free
      = link_to "/analysts/forrester-vsm/", class: "hero-cta hero-vsm-link" do
        %p Read the full report →
    .hero-image-container
      = link_to "/analysts/forrester-vsm/", class: "hero-image-link hero-cta hero-vsm-image" do
        = image_tag "/images/home/forrester-vsm-graphic.png", class: "hero-image", alt: "Forrester value stream management png"
