.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    The Gitlab Advantage!
  .description
    This is an example of a specific advantage block.
  .row
    .column.item
      = image_tag "/images/devops-tools/gitlab-pipeline.svg"
      .title
        Simple
      .description
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
    .column.item
      = image_tag "/images/devops-tools/gitlab-rocket.svg"
      .title
        Fast
      .description
        Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
    .column.item
      = image_tag "/images/devops-tools/security-icon.svg"
      .title
        Secure
      .description
        Error sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
