- is_dark = locals.fetch(:is_dark, false)
- is_available_for_core = tier_hash[:gitlab_core]
- is_available_for_starter = tier_hash[:gitlab_starter]
- is_available_for_premium = tier_hash[:gitlab_premium]
- is_available_for_ultimate = tier_hash[:gitlab_ultimate]
- is_available_for_gitlab_free = tier_hash[:gitlab_free] || (gitlab_com != false && is_available_for_core)
- is_available_for_gitlab_bronze = tier_hash[:gitlab_bronze] || (gitlab_com != false && is_available_for_starter)
- is_available_for_gitlab_silver = tier_hash[:gitlab_silver] || (gitlab_com != false && is_available_for_premium)
- is_available_for_gitlab_gold = tier_hash[:gitlab_gold] || (gitlab_com != false && is_available_for_ultimate)
- core_title = is_available_for_core ? "Available in GitLab Core" : "Not available in GitLab Core"
- starter_title = is_available_for_starter ? "Available in GitLab Starter" : "Not available in GitLab Starter"
- premium_title = is_available_for_premium ? "Available in GitLab Premium" : "Not available in GitLab Premium"
- ultimate_title = is_available_for_ultimate ? "Available in GitLab Ultimate" : "Not available in GitLab Ultimate"
- free_title = is_available_for_gitlab_free ? "Available in GitLab.com Free" : "Not available in GitLab.com Free"
- bronze_title = is_available_for_gitlab_bronze ? "Available in GitLab.com Bronze" : "Not available in GitLab.com Bronze"
- silver_title = is_available_for_gitlab_silver ? "Available in GitLab.com Silver" : "Not available in GitLab.com Silver"
- gold_title = is_available_for_gitlab_gold ? "Available in GitLab.com Gold" : "Not available in GitLab.com Gold"

.badge-container{ class: "#{'dark' if is_dark}" }
  .top-row
    %a{ :href => "/pricing/#self-managed", "title" => core_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_core}"}<
        CORE
    %a{ :href => "/pricing/#self-managed", "title" => starter_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_starter}"}<
        STARTER
    %a{ :href => "/pricing/#self-managed", "title" => premium_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_premium}"}<
        PREMIUM
    %a{ :href => "/pricing/#self-managed", "title" => ultimate_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_ultimate}"}<
        ULTIMATE
  .bottom-row
    %a{ :href => "/pricing/#gitlab-com", "title" => free_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_free}"}<
        FREE
    %a{ :href => "/pricing/#gitlab-com", "title" => bronze_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_bronze}"}<
        BRONZE
    %a{ :href => "/pricing/#gitlab-com", "title" => silver_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_silver}"}<
        SILVER
    %a{ :href => "/pricing/#gitlab-com", "title" => gold_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_gold}"}<
        GOLD
