---
layout: handbook-page-toc
title: "Engineering Career Framework: Staff"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Engineering Department Competencies: Staff
 
**Staff at GitLab are expected to exhibit the following competencies:**

* [Staff Leadership Competencies](#staff-leadership-competencies)
* [Staff Technical Competencies](#staff-technical-competencies)
* [Staff Values Alignment](#staff-values-alignment)
* [All competencies exhibited by a Senior](/handbook/engineering/career-development/matrix/engineering/senior)
 
---

### Staff Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_staff_leadership_competency.erb") %>
  
### Staff Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_staff_technical_competency.erb") %>
  
### Staff Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>
