---
layout: handbook-page-toc
title: "Ops Sub-department Performance Indicators"
---

## Performance Indicators

These charts show metrics filtered for the [Ops sub-department](/handbook/engineering/development/ops).

<% if ENV['PERISCOPE_EMBED_API_KEY'] %>
  <div>
    <embed width="100%" height="100%" style="min-height:300px;" src="<%= signed_periscope_url({ dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "ops"}], visible: ["development_section", "team"] }) %>">
  </div>
  <% else %>
    <p>You must set a <code>PERISCOPE_EMBED_API_KEY</code> environment variable to render this chart.</p>
<% end %>
