---
layout: markdown_page
title: "Product Vision - Create"
---

- TOC
{:toc}

This page has been deprecated in favor of [Dev section Vision](/direction/dev/).

<%= direction["all"]["all"] %>

<%= partial("direction/other", :locals => { :stage => "create" }) %>
