:markdown
  ## Requirements

  - Affinity for (and experience with) providing customer support
  - Technical Skills
    - Able to triage and resolve GitLab issues
    - Able to perform complex Linux system administration tasks
    - Experience with Ruby on Rails applications and Git
  - Communication Skills
    - Communicate clearly with customers on technical topics
    - Take ownership and work to manage the entire issue lifecycle, from customer, to development team, to resolution
    - Makes customers happy
  - Excellent spoken and written English
  - You share our [values](/handbook/values), and work in accordance with those values
